body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-weight: 400;
    font-style: normal;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #wrap-content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    border: 2px solid #1aaada;
  }
  #wrap-content h2 {
    text-align: center;
    color: #80757a;
    font-size: 30px;
  }
  
  input {
    padding: 10px;
    color: #80757a;
    width: calc(100% - 20px);
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid;
  }
  
  #login-button {
    display: flex;
    justify-content: center;
  }
  #login-button button {
    background-color: white;
    border: 1.5px solid #1aaada;
    border-radius: 6px;
    width: 100%;
    color: #80757a;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 20px 0;
    padding: 10px;
    font-weight: 500;
  }